@{
    ViewBag.Title = "Details";
}
@section scripts{
    <script src="../../Modules/GetLinks.js"></script>
}

<div ng-app="GetLinksApp" class="container">
    <input type="text" placeholder="Search" ng-model="searchLink"/>
    <div ng-controller="GetLinksController">
        <table class="table table-striped">
            <tr class="">
                <th>Id</th>
                <th>Date</th>
                <th>Url</th>
                <th>Short Url</th>
                <th>Jumps</th>
            </tr>
            <tr ng-repeat="r in links | filter : searchLink">
                <td>{{r.Id}}</td>
                <td>{{r.InitDateTime}}</td>
                <td>{{r.Url}}</td>
                <td>{{r.ShortUrl}}</td>
                <td>{{r.Jumps}}</td>
            </tr>
        </table>
    </div>
</div>