@{
    ViewBag.Title = "URL Shortener";
}
@section scripts{
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Modules/ShortenLink.js"></script>
}

<div ng-app="ShortenLinkApp" class="container">
    <br/>
    <br/>

        <div class="col-lg-10  col-lg-offset-3 btn-block" ng-controller="eventHandlerController">
            <input class="col-lg-8 form-control" autocomplete="off" type="text" name="url" placeholder="Paste a link to shorten it" ng-model="longLink">
            <button class="col-md-2 btn btn-primary" ng-click="shortenLink()">Shorten Link</button>
        </div>
    <br/>
</div>
