
@{
    ViewBag.Title = "URL Shortener";
}

<div class="jumbotron">
    <p class="lead">
        <script src="../../Scripts/angular.min.js"></script>
    </p>
    <p><input type="text" name="URL"/></p>
</div>