@{
    ViewBag.Title = "URL Shortener";
}
@section scripts{
    <script src="../../Modules/ShortenLink.js"></script>
}

<div ng-app="ShortenLinkApp" ng-controller="eventHandlerController">
    <div class="btn-block inner cover">
        <div class="col-xs-8 col-md-10">
            <input class="form-control" autocomplete="off" type="text" placeholder="Paste a link to shorten it" ng-model="longLink">
        </div>
        <button class="btn btn-primary" ng-click="shortenLink()">Shorten Link</button>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        <input type="text" style="text-align: center; border: none" ng-model="shortLink" readonly="readonly"/>
    </div>
</div>