@{
    ViewBag.Title = "URL Shortener";
}
@section scripts{
    <script src="../../Modules/ShortenLink.js"></script>
}

<body>
    <div ng-app="ShortenLinkApp" ng-controller="eventHandlerController">
        <div class="btn-block row">
            <div class="col-xs-8 col-md-10">
                <input class="form-control" autocomplete="off" type="text" placeholder="Paste a link to shorten it" ng-model="longLink">
            </div>
            <button class="btn btn-primary" ng-click="shortenLink()">Shorten Link</button>
        </div>
        <div id="linkContainer" class="row">
            <div class="col-xs-8 col-md-10">
                <input class="inner" type="text" placeholder="Here will be a short link" ng-model="shortLink" readonly="readonly"/>
            </div>
        </div>
    </div>
</body>